<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>project {{ post.modal-id }}</h2>
            <hr class="star-primary">
            <img src="{{ '/img/portfolio/' | append: post.img | relative_url }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Posting Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="postingModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="{% if post.posting-title == 'yeardreamschool6th' %}col-lg-12{% else %}col-lg-8 col-lg-offset-2{% endif %}">
          <div class="modal-body{% if post.posting-title == 'yeardreamschool6th' %} yeardream-modal{% endif %}">
            {% if post.posting-title == 'yeardreamschool6th' %}
            <div class="yeardream-header">
              <h2>{{ post.posting-title }}</h2>
              <hr class="star-primary">
            </div>
            <div class="yeardream-layout">
              <aside class="yeardream-sidebar" aria-label="yeardreamschool6th curriculum">
                <button type="button" class="yeardream-sidebar-toggle" aria-expanded="true" aria-controls="yeardreamSidebarMenu-{{ post.modal-id }}">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                  <span class="sr-only">메뉴 접기</span>
                </button>
                <nav id="yeardreamSidebarMenu-{{ post.modal-id }}" class="yeardream-sidebar-menu">
                  <ul class="yeardream-menu-list">
                    <li>
                      <a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="1주차" data-week="커리큘럼" data-summary="1주차 학습 항목을 확인합니다.">1주차</a>
                      <ul class="yeardream-submenu">
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="01_IT리터러시" data-week="1주차">01_IT리터러시</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="02_핵심운영체제와리눅스기초" data-week="1주차">02_핵심운영체제와리눅스기초</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="03_네트워크" data-week="1주차">03_네트워크</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="04_파이썬기본문법1" data-week="1주차">04_파이썬기본문법1</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="05_파이썬기본문법2" data-week="1주차">05_파이썬기본문법2</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="2주차" data-week="커리큘럼" data-summary="2주차 학습 항목을 확인합니다.">2주차</a>
                      <ul class="yeardream-submenu">
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="01_파이썬중급문법2" data-week="2주차">01_파이썬중급문법2</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="02_파이썬라이브러리활용" data-week="2주차">02_파이썬라이브러리활용</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="03_생성형AI기초" data-week="2주차">03_생성형AI기초</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="04_SQL시작하기" data-week="2주차">04_SQL시작하기</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="05_SQL함수와서브쿼리" data-week="2주차">05_SQL함수와서브쿼리</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="3주차" data-week="커리큘럼" data-summary="3주차 학습 항목을 확인합니다.">3주차</a>
                      <ul class="yeardream-submenu">
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="01_집합연산자와계층형질의" data-week="3주차">01_집합연산자와계층형질의</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="02_JOIN및서브쿼리심화" data-week="3주차">02_JOIN및서브쿼리심화</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="03_그룹함수_윈도우함수" data-week="3주차">03_그룹함수_윈도우함수</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="04_데이터베이스개요" data-week="3주차">04_데이터베이스개요</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="05_데이터모델링과데이터베이스구현" data-week="3주차">05_데이터모델링과데이터베이스구현</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="4주차" data-week="커리큘럼" data-summary="4주차 학습 항목을 확인합니다.">4주차</a>
                      <ul class="yeardream-submenu">
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="01_데이터리터러시와NumPy기초" data-week="4주차">01_데이터리터러시와NumPy기초</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="02_pandas와데이터시각화" data-week="4주차">02_pandas와데이터시각화</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="03_통계자료요약" data-week="4주차">03_통계자료요약</a></li>
                        <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link" data-title="04_확률과통계적추론" data-week="4주차">04_확률과통계적추론</a></li>
                      </ul>
                    </li>
                    <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="AI실무기본_1주차" data-week="AI실무기본">AI실무기본_1주차</a></li>
                    <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="AI실무기본_2주차" data-week="AI실무기본">AI실무기본_2주차</a></li>
                    <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="AI실무기본_3주차" data-week="AI실무기본">AI실무기본_3주차</a></li>
                    <li><a href="#yeardreamContent-{{ post.modal-id }}" class="yeardream-menu-link yeardream-menu-week" data-title="AI실무기본_4주차" data-week="AI실무기본">AI실무기본_4주차</a></li>
                  </ul>
                </nav>
              </aside>
              <div class="yeardream-main">
                <img src="{{ '/img/portfolio/' | append: post.img | relative_url }}" class="img-responsive img-centered yeardream-main-image" alt="{{ post.alt }}">
                <section id="yeardreamContent-{{ post.modal-id }}" class="yeardream-content-panel" aria-live="polite" aria-hidden="true" hidden>
                  <span class="yeardream-content-week">커리큘럼</span>
                  <h3 class="yeardream-content-title">yeardreamschool6th</h3>
                  <p class="yeardream-content-summary">왼쪽 사이드메뉴에서 항목을 선택하세요.</p>
                </section>
              </div>
            </div>
            {% elsif post.posting-title %}
            <h2>{{ post.posting-title }}</h2>
            <hr class="star-primary">
            <img src="{{ '/img/portfolio/' | append: post.img | relative_url }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% else %}
            <h2>posting {{ post.modal-id }}</h2>
            <hr class="star-primary">
            <img src="{{ '/img/portfolio/' | append: post.img | relative_url }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
